div.account > div {
  display: inline-block;
}

table#account-comment {
  width: 100%;
}

table#account-comment th {
  text-align: center;
}

a.account-details-link {
  color: #888;
}

div.account-menu {
  padding: 0.5em;
}

