div.account {
  position: relative;
  left: -4.25em;
}

div.policy-implication-vote-active {
  color: #46A5E5;
}

div.policy-implication-vote-inactive {
  color: #888;
}

div.policy-overview-text {
  border-top: 1px solid #182945;
  border-bottom: 1px solid #182945;
}

div.policy-implication {
  clear: both;
  padding-top: 1em;
}

div.policy-implication-tally {
  float: left;
  padding-right: 1em;
  line-height: 1em;
  vertical-align: middle;
}

div.policy-implication-text {
  display: inline-block;
  width: 85%;
}

div.policy-implication-type {
  float: left;
  padding-right: 1em;
}

div.policy-implication-type-pro,
div.policy-implication-type-con {
  font-size: 10pt;
}

div.policy-implication-type-pro {
  color: #A1C436;
}

div.policy-implication-type-con {
  color: #A50E19;
}

div.policy-implication-text p {
  margin: 0;
  padding: 0;
}

.policy-implication-type-flag, a.policy-implication-counter-flag {
  color: #888;
  font-size: 10pt;
  font-weight: normal;
}

div.policy-implication-counter {
  padding-top: 0.5em;
}

div.policy-implication-counter-mark {
  float: left;
  margin-right: 1em;
  font-weight: bold;
  font-size: 10pt;
}

div.policy-implication-counter {
  display: inline-block;
  width: 85%;
}

div.policy-implication-counter-text p {
  display: inline-block;
  width: 85%;
}

a.doi-external-link {
  color: #FF7343;
}

