div.main { }

div.policy {
  clear: both;
  padding-top: 15px;
}

div.tally-panel, div.policy-views, div.policy-votes, div.policy-tags {
  float: left;
}

div.tally-panel {
  font-size: 9pt;
  text-align: center;
}

div.policy-votes, div.policy-views {
  margin-right: 1em;
}

h1.policy-title, div.policy-tags {
  padding-left: 5px;
  font-size: 16pt;
}

div.activation {
  color: #666666;
  font-size: 8pt;
}

div.policy-tag {
  display: inline;
  color: #B93507;
}

.interest-extreme {
  color: #000000 !important;
}

.interest-high {
  color: #222222 !important;
}

.interest-moderate {
  color: #444444 !important;
}

.interest-slight {
  color: #666666 !important;
}

.interest-low {
  color: #888888 !important;
}

