h1.policy-title {
  padding-right: 1em;
  float: left;
  margin: 0.1em;
}

div.policy-vote-calc {
  text-align: right;
}

div.policy-vote-calc-pro, div.tally-vote-pro {
  color: #A1C436;
}

h2.policy-pro-title {
  color: black;
}

div.policy-vote-calc-con, h2.policy-con-title {
  color: #A50E19;
}

div.tally-vote-con {
  color: #888;
}

div.tally-vote-pro, div.tally-vote-con {
  font-size: 14pt;
  text-align: center;
  padding-top: 1em;
}

div.policy-summary {
  clear: both;
}

div.policy-overview {
  border-top: 1px solid #182945;
  border-bottom: 1px solid #182945;
  overflow: hidden;
  width: 100%;
  padding-bottom: 0.5em;
}

div.policy-votes, div.policy-overview-text {
  float: left;
  padding-bottom: 500em;
  margin-bottom: -500em;
}

div.policy-votes {
  width: 8%;
}

div.policy-overview-text {
  width: 78%;
  margin-right: -1px;
}

/** Remove the horizontal separator. */
div.policy-tag::after { content: ""; }

div.policy-tags {
  float: right;
}

div.policy-tag {
  margin-top: 0.5em;
}

div.policy-proposals {
  float: left;
}

div.policy-feedback {
  float: right;
}

div.policy-overview-links {
  clear: left;
  font-size: 16pt;
}

a.proposal, a.policy-feedback-link {
  text-decoration: none;
}

a.policy-feedback-link {
  font-size: 14pt;
  color: #999;
}

div.policy-implications-pro {
  width: 100%;
}

h2.policy-pro-title, h2.policy-con-title {
  border-bottom: 1px solid #182945;
  text-align: center;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

ul.policy-implication li {
  padding-bottom: 0.5em;
}

