div.policy-title {
  padding-bottom: 0.5em;
}

div.support {
  border-top: 1px solid #182945;
  border-bottom: 1px solid #182945;
}

div.support-votes {
  float: left;
}

div.support-container {
  display: inline-block;
  width: 85%;
}

div.support-votes {
  margin-top: 0.5em;
  padding-right: 1em;
  text-align: center;
  font-size: 16pt;
}

h2.support-title {
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
}

div.support-vote-pro {
  color: #A1C436;
}

div.support-vote-con {
  color: #888;
}

div.support-feedback {
  float: right;
  padding-top: 0.5em;
}

a.support-feedback-link {
  color: #888;
  font-size: 12pt;
}

