/* http://www.colourlovers.com/web/trends/websites/7856/LivingSocial */
/* http://www.colourlovers.com/palette/2720424/chipocludo_7 */
/* http://www.colourlovers.com/palette/3106618/Izaguirre */
/* http://www.colourlovers.com/palette/2232464/MadaLaksmi_Satu */

body {
  font-family: Arial, sans-serif;
  color: #182945;
  margin: 0px auto;
  width: 850px;
  padding-top: 1em;
}

div.account {
  position: relative;
  left: -4.75em;
}

a.account {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #182945;
  background-color: rgba(251, 246, 206, 0.3);
}

h1.policy-title {
  display: inline;
}

a.policy-title {
  color: #46A5E5;
  text-decoration: none;
}

div.policy-tag {
  color: #888;
  font-size: 10pt;
}

/** Separate tags using horizontal bars. */
div.policy-tag::after { content: " |"; }
div.policy-tag:last-child:after { content: ""; }

a {
  text-decoration: none;
  color: #46A5E5;
}

a:hover {
  text-decoration: underline;
}

a.external-link {
  color: #FF7343;
}

