@import url( "css/related.css" );
@import url( "css/xref.css" );

.account::before {
  content: "Account";

  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.account {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
}

.account > .implications {
  display: table;
  border-top: 1px solid black;
  padding-top: 0.5em;
}

.implications > .entry, .implications > .header {
  display: table-row;
}

.implications > * > * {
  display: table-cell;
  padding: 0.25em;
}

.implications > .entry:nth-child(odd) {
  display: table-row;
  background-color: #EEE;
}

.implications > .header {
  background-color: black;
  color: white;
  font-weight: bold;
}

.implications > .entry > .timestamp > * {
  display: table-cell;
  padding-right: 0.25em;
}

.implications > .entry > .policy,
.implications > .entry > .timestamp > .date {
  white-space: nowrap;
}

.related > .implications { order: 1; }
.related > .interests { order: 2; }
.related > .edits { order: 3; }
.related > .policies { order: 4; }
.related > .votes { order: 5; }
.related > .views { order: 6; }
.related > .flags { order: 7; }

.related > *::after {
  content: "|";
  padding-right: 3px;
}

.related > .flags::after {
  content: "";
  padding-right: 0;
}

.implications > a::before { content: "implications"; }
.interests > a::before { content: "interests"; }
.edits > a::before { content: "edits"; }
.policies > a::before { content: "proposals"; }
.votes > a::before { content: "votes"; }
.views > a::before { content: "views"; }
.flags > a::before { content: "flags"; }
