@import url( "css/related.css" );
@import url( "css/xref.css" );

.summary, .policy {
  padding-bottom: 0.5em;
}

.title, .policy {
  border-bottom: 1px solid black;
}

.implications::before {
  font-size: 1.1em;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: bold;

  content: "Implications";
}

.implication {
  margin-left: 1em;
}

.support {
  float: left;
  margin-right: 0.5em;
}

.support > a::before {
  content: "▶";
}

.votes {
  display: none;
}

.implication, .implications, .counter {
  margin-top: 0.5em;
}

.counter {
  margin-left: 1.5em;
}

.counter > .support::after {
  content: " [Refuted]";
  font-weight: bold;
  font-size: .75em;
}

.related > .implicate > a::before { content: "new"; }

