@import url( "related.css" );

.related > .edit { order: 1; }
.related > .discuss { order: 2; }
.related > .flag { order: 3; }

.related > *::after {
  content: "|";
  padding-right: 3px;
}

.related > .flag::after {
  content: "";
  padding-right: 0;
}

.related > .discuss > a::before { content: "discuss"; }
.related > .edit > a::before { content: "edit"; }
.related > .flag > a::before { content: "flag"; }
