@import url( "css/edit-discuss-flag.css" );
@import url( "css/xref.css" );

.policy {
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
}

.policy, .title {
  border-bottom: 1px solid black;
}

.paragraph {
  margin-bottom: 0.5em;
}

.hypotheses > .general::before {
  content: "General Hypothesis";
}

.hypotheses > .directional::before {
  content: "Directional Hypothesis";
}

.hypotheses > .measurable::before {
  content: "Measurable Hypothesis";
}

.hypotheses > *::before {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.hypotheses > * > .paragraph {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
