@import url( "css/edit-discuss-flag.css" );
@import url( "css/xref.css" );
@import url( "css/parts.css" );

.policy, .tags {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
}

.activation {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;

  justify-content: flex-end;
}

.date::before {
  content: "Activation: ";
}

.time::before {
  content: "\00a0 at\00a0";
}

.tags {
  width: 100%;
}

.paragraph {
  padding-top: 0.5em;
  line-height: 120%;
}

.tags {
  display: inline-flex;
  font-size: 0.8em;
  color: #B93507;
}

/** Separate tags using horizontal bars. */
.tag::after {
  content: "|";
  padding-left: 5px;
  padding-right: 5px;
}
.tag:last-child:after { content: ""; }
