.related {
  display: flex;
  justify-content: flex-end;

  padding-top: 0.5em;
  width: 100%;
}

.related > div {
  display: inline;
  color: #333;
}

.related > div > a {
  padding-right: 5px;
  color: #46A5E5;
}
