@import url( "css/edit-discuss-flag.css" );
@import url( "css/xref.css" );
@import url( "css/parts.css" );
@import url( "css/legend.css" );

.policy {
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
}

.summary > .title {
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
}

.chart {
  display: flex;
  flex-direction: row;
}

/* Add some whitespace between left-edge and legend table. */
div.graph {
  padding-left: 2em;
  width: 35%;
}

.paragraph {
  line-height: 120%;
  margin-top: 0.5em;
}

div.bullet {
  width: 1ex;
  height: 1.25ex;
  display: inline-block;
}

.overview {
  margin-top: 1em;
}
