@import url( "css/related.css" );
@import url( "css/xref.css" );
@import url( "css/votes.css" );

.summary, .paragraph {
  padding-bottom: 0.5em;
}

.synopsis {
  float: right;
  width: 90%;
}

.implications > .implication {
  line-height: 120%;
}

.tags {
  width: 100%;
  padding-bottom: 1em;

  font-size: 0.8em;
  color: #B93507;
  border-bottom: 1px solid black;
}

.tag {
  display: inline;
}

.tag::after {
  content: "|";
  padding-left: 5px;
  padding-right: 3px;
}
.tag:last-child:after { content: ""; }

.statistics {
  font-size: 0.8em;
}

.activation {
  display: none;
}

.implications::before {
  content: "Implications";
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.implications, .implication:nth-of-type(1) {
  margin-top: 0.5em;
}

.implication > .support {
  float: left;
  margin-right: 0.5em;
}

.implication > .support > a::before {
  content: "▶";
}

.related {
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
  width: 100%;
}

.proposal { order: 1; }
.resources { order: 2; }
.hypothesis { order: 3; }
.discuss { order: 4; }

.proposal::after, .resources::after, .hypothesis::after {
  content: "|";
  padding-right: 3px;
}

.proposal > a::before { content: "proposal"; }
.resources > a::before { content: "resources"; }
.hypothesis > a::before { content: "hypothesis"; }
.discuss > a::before { content: "implications"; }
.flag > a::before { content: "flag"; }
