@import url( "css/edit-discuss-flag.css" );
@import url( "css/xref.css" );
@import url( "css/votes.css" );

.policy {
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
}

.implications::before {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: bold;
}

.title {
  border-bottom: 1px solid black;
}

.implication > .title {
  font-size: 1.25em;
  border-bottom: none;
  line-height: 120%;
}

.implication {
  min-height: 2.5em;
  margin-left: 1em;
  margin-top: 0.5em;
}

.support {
  display: table;
}

.paragraph {
  padding-top: 0.5em;
  line-height: 120%;
}

.related > .counter { order: 0; }
.related > .counter > a::before { content: "refute"; }

