@import url( "css/support.css" );
@import url( "css/xref.css" );
@import url( "css/edit-discuss-flag.css" );

/* ***********************************************************************
 *
 * Sets up the tag editor code.
 *
 * ***********************************************************************/
div.columns, div.breadcrumb {
  border-top-left-radius: 0.4em 0.4em;
  border-top-right-radius: 0.4em 0.4em;
}

div.columns, div.toolbar {
  border-bottom-left-radius: 0.4em 0.4em;
  border-bottom-right-radius: 0.4em 0.4em;
}

div.columns {
  margin-top: 1em;
  margin-bottom: 1em;
  min-height: 150px;
  overflow: auto;
  background: #949494;
}

div.column {
  float: left;
  display: inline-block;
  background: #FFF;
  border-right: 1px solid #666;
  font-size: 0.9em;
  font-family: Arial;
}

div.collapsed {
  display: none;
}

li.parent:hover {
  color: black;
  background-color: #DDE4E8;
}

/* Ensure the selection hierarchy is highlighted. */
li.selection {
  background-color: #08C !important;
  color: white !important;
}

div.breadcrumb, div.toolbar {
  height: 1.25em;
}

div.breadcrumb, div.toolbar {
  background: linear-gradient(#f0f0f0, #d8d8d8);
}

div.breadcrumb {
  border-bottom: 1px solid #666;
}

div.breadcrumb > span {
  height: 1.25em;
  line-height: 1.25em;
}

div.toolbar {
  clear: both;
  border-top: 1px solid #666;
}

div.breadcrumb > span {
  font-size: 0.7em;
  font-weight: bold;
  padding-left: 0.25em;
  color: #666;
}

div.breadcrumb > span::after {
  content: " \25B8";
}

div.breadcrumb > span:first-child {
  padding-left: 1em;
}

div.breadcrumb > span:last-child:after {
  content: "";
}

ul {
  padding: 0;
  margin: 0;
  overflow: auto;
}

li {
  list-style: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  min-width: 150px;
}

/* Use an arrow to indicate that the parent has child elements. */
li.parent:after {
  content: "\25B8";
  float: right;
}

/* Zebra stripes. */
li:nth-child(odd) {
  background-color: #EEE;
}

div.toolbar:after {
  font-size: 0.8em;
  content: "new | edit | delete | flag";
  height: 1.25em;
  line-height: 1.25em;
  float: right;
  padding-right: 1em;
}

/* ***********************************************************************
 *
 * Sets up the remainder of the web page.
 *
 * ***********************************************************************/
h1 {
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

