a {
  text-decoration: none;
  font-weight: bold;
  color: #087ECB;
}

a:hover {
  color: #B93507;
}

div.header {
  text-align: center;
}

hr {
  background-color: #999;
  border: 0 none;
  color: #999;
  height: 1px;
}

a.page-prev {
  margin-right: 1em;
}

a.page-next::after {
  content: " →";
}

a.page-prev::before {
  content: "← ";
}

