.votes {
  display: flex;
  flex-direction: column;
  align-items: center;

  float: left;
  margin-right: 1.5em;
  color: #A1C436;
  font-size: 14px;
}

.votes::before {
  content: "▲";
  padding-bottom: 0.25em;
}

